/* Base Settings */
html {
  box-sizing: border-box;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  /*  background-image: url(../content/img/backgrounds/diagonal-lines.svg);*/
  color: #4D4D5B;
    font-family: 'Cardo', "EB Garamond", "Garamond", "Times New Roman", "Times", serif;
/*  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
  font-size: 1em;
  height: 100%;
  line-height: 1.33;
  margin-top: 50px;
  min-height: 100vh;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

em {
  font-style: italic;
}

p {
  text-align: justify;
  margin: 1.33em 0;
}

p:first-child {
  margin: 0 0 1.33em 0;
}

h1,
h2,
h3,
h4 {
  color: #334;
  font-weight: 300;
  /*  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

h1 {
  font-size: 4.236em;
  line-height: 1.33;
  margin: 0.5em 1em;

}

h2 {
  font-size: 2.618em;
  line-height: 1.22;
  margin: 0.67em 0;
}

h3,
h4 {

  font-size: 1.618em;
  line-height: 1.111;
  margin: 0.67em 0;
}

h4 {
  font-size: 1.314em;
}

a {
  background: #DDEEDD;
  color: #334444;
  padding: 0.25em;
}

a:visited {
  color: #EF999A;
}

a:hover {
  border-bottom: 0.215em solid #9AEF99;
  color: #333344;
  text-decoration: none;
}

a[href^='http'] {
  background: none;
  border-bottom: none;
  color: #999aef;
}

a[href^='http']:hover {
  color: #9AEF99;
}

a[class^='fa'] {
  color: inherit;
  font-size: 1.25em;
}

a[href^='#'] {
  background: none;
  text-decoration: underline;
  text-decoration-color: #9AEF99;
}

a[href^='#']:visited {
  color: inherit;
}

a[href^='#']:hover {
  border: none;
  color: #9AEF99;
}

img.preview {
  border: 0.2em solid #333344;
  margin: 2em 0;
  width: 100%;
}




/* Header and Navigation Bar Styling */

header {
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  width: 100%;
}

header::after {
  border-top: 0.22em solid #334;
  /*  float: right;*/
  display: block;
  margin: 0 auto;
  width: 66%;
  content: "";

}

header ul {
  padding: 0;
}


header li {
  font-size: 0.9em;
  padding: 0.33em 0 0.33em 0.33em;
  margin: 0.22em 0 0.22em 0.33em;
  list-style: none;
}


header [class^='fa']::before {
  font-size: 1.5em;
}


nav {
  background: #334;
  border-bottom: 0.25em solid #334;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  /*  padding: 15px;*/
  position: fixed;
  text-align: right;
  top: 0px;
  right: 0;
  left: 0;
  width: 100%;
}

nav ul {
  display: none;
  width: 100vw;

}

nav li {
  text-align: center;
  margin: 0;
  width: 100%;
}

nav ul.show {
  display: block;
  margin: 0;
  padding: 0;
}

.navbutton {
  border: none;
  background: #333344;
  color: white;
  display: inline-block;
  font-size: 1.5em;
  padding: 10px;
}

.navbutton:active {
  color: #9AEF99;
}

nav a {
  background: none;
  color: white;
  display: inline-block;
  padding: 15px 15px 10px 15px;
  width: 100%;
}

nav a:hover,
nav a:visited,
nav a:active,
.current {
  background: white !important;
}

.current {
  border-bottom: 0.215em solid white;
  color: black !important;
}

#internal-nav {
  display: none;
  font-size: 1.3em;
}


/* Footer */
footer {
  /*  background: #333344;*/
  background-color: #333344;
  /*  background-image: url(../content/img/backgrounds/diagonal-lines.svg);*/
  /*  filter: opacity(50%);*/
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-align: center;
  width: 100%;
}
footer *:last-child {
  margin-bottom: 0;
  padding-bottom: 5px;
}

footer h3 {
  color: white !important;
}

footer a {
  background: none;
  color: #9AEF99 !important;
}

footer a:hover {
  color: #D9F9D9 !important;
}

/* Body Copy Layout */

article {
  margin-top: 130px;
  width: 80%;
  margin-left: 10%;
}

.columns {
  align-content: center;
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.columns:not(:first-child) {
  margin-top: 3em;
}


.left {
  flex: 1 1 100px;
  padding: 0 2em 0 0;
}

.left h3 {
  margin-top: 0;
}

.right {
  flex: 1 3 300px;
}

.links {
  background: #f9f9f9;
  border-left: 0.11em solid #334;
  border-right: 0.11em solid #334;
  padding: 0.5em;
  text-align: center;
}

.tags {
  align-content: center;
  display: flex;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  flex-flow: row wrap;
  justify-content: space-around;
  text-align: center;
  margin-top: 1em;
}

.tags div {
  background: #334;
  border: 0.33em solid #334;
  border-radius: 0.5em;
  color: white;
  height: 2.47em;
  width: 4em;


}

.tags div span:nth-child(1) {
  font-size: 1.33em;
}

.tags div span:nth-child(2) {
  display: block;
  font-size: 0.5em;
}

article:last-of-type {
  margin-bottom: 200px;
}

li {
  margin: 0.66em 0 1em 0;
}

/* Code */

code,
.code {
  background: #f9f9f9;
  font-size: 0.814em;
  font-weight: bolder;
  font-family: 'Incosolata', 'Courier New', 'Courier', monospace;
  /*  letter-spacing: 0.1em;*/
}

.lang {
  font-weight: bold
}

.javascript {
  /*  background: #ffff99;*/
}

.r {
  /*  background: #ccccff;*/
}



@media only screen and (min-width: 800px) {

  header {
    min-height: 500px;
    text-align: left;
    position: fixed;
    left: 25px;
    top: 25px;
    width: 300px;
  }

  h1 {
    margin: 0.5em 0;
  }

  header::after {
    border: none;
    border-right: 0.1em solid #334;
    height: 400px;
    position: absolute;
    top: 100px;
    right: 0;
  }

  nav {
    /*    background-image: url(../content/img/backgrounds/diagonal-lines.svg);*/
    border: none;
    padding: 2px 10px;
  }

  nav ul {
    display: inline-block;
    float: right;
    position: relative;
    width: auto;
  }

  nav ul li {
    display: inline-block;
    margin: 0;
    list-style: none;
    width: auto;
  }

  .left * {
    text-align: right;
  }
  
  .left progress {
    float: right;
  }

  .navbutton {
    display: none;
  }

  article {
    width: calc(85% - 350px);
    margin-left: 350px;
  }

  #internal-nav {
    display: block;
  }

}
